body {
    font-size: 28px;
    font-weight: bolder;
    color: #F9FAF8;
    background-color: #1F2937;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

/* Centering and spacing for header section */

.header {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 1em;
}

/* 2nd/content section flexbox sizing and adjustments */

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5vw;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

button {
    background-color: #4c77af;
    border: none;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    font-size: 16px;
    border-radius: 16px;
    cursor: pointer;
}

.content button {
    font-size: 1.5vw;
}

img {
    max-width: 100%;
}

.image {
    flex-basis: 30%;
}

/* Blinking animation for welcome text */

h1 {
    animation: blinker 3s infinite;
} 

@keyframes blinker {
    50% {
    opacity: 25%;
    }
}

/* Text sizing for h2 and buttons */

h2 {
    font-size: 2vw;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 20px;
}

/* 3rd/info section styling and adjustments */

.info {
    background-color: white;
    color: #1F2937;
    margin-top: 1em;
    padding-bottom: 1em;
    margin-left: -12.5%;
    margin-right: -12.5%;
}

.info img {
    width: 100px;
}

.info p {
    text-align: center;
}

.images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
}

.item img {
    border: 7px solid silver;
    border-radius: 28px;
}

span {
    display: block;
    font-size: 16px;
}

/* Styling for 4th/quote section */

.quote {
    text-align: center;
    color: #1F2937;
    background-color: #E5E7EB;
    margin-left: -12.5%;
    margin-right: -12.5%;
}

em {
    font-size: 24px;
}

strong {
    font-size: 18px;
}

/* Fitting 5th section inside box and styling */

#box {
    margin-left: -12.5%;
    margin-right: -12.5%;
    background-color: white;
    overflow: hidden;
}

.more {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    position: relative;
    margin: 2em auto;
    padding: 0 1em 0.5em;
    width: 75%;
    height: 50%;    
    border-radius: 16px;
}

.more-text {
    display: flex;
    flex-direction: column;
}

.more-text p {
    font-size: 16px;
}

/* Footer styling */

.footer {
    text-align: center;
    font-size: 18px;
}

/* Animation and centering for join.html */

.ty {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ty p {
    background-image: 
    linear-gradient(
    -225deg,
    #3700ff 0%,
    #7b00ff 29%,
    #ff0055 67%,
    #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
 }
 
 @keyframes textclip {
   to {
     background-position: 200% center;
   }
 }